*{
  transition: all 0.2s;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   font-size: 14px;
   line-height: 1.5;
 }
 
 html {
   scroll-behavior: smooth;
   overflow-x: hidden;
 }
 /* Fundo do site */
 body{
   background-color: #000 ;
   width: 100vw;
   max-width: 100vw;
 }
  
/* Menu */
.newmenu {
  width: 100vw;
  height: 70px;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.menu-item{
  text-decoration: none;
  color: #fff;
  background-color: #383838 ; 
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  margin: 0 5px 0 5px;
}

.menu-item:hover {
  background-color: #404040;
}

.titulo {
    color: rgb(255, 255, 255);
    border-radius: 50px;
    justify-content: center;
    display: flex;
    font-size: 45px;
    font-family: fantasy;
}

.cartao {
    background-color: rgb(34, 31, 31);
    color: white;
    display: flex;
    justify-content: center;
    height: 280px;
    padding-top: 110px;
    max-width: 100vw;
}

.footer_rodape {
    margin-top: 400px;
    color:blue;
}

h1 {
    font-size: 40px;
  
}

body{
background-color: #000;
}
* {
  box-sizing: border-box;
}

.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  background-color: #383838;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-nav button.owl-prev {
  right: 36px;
}
